<div class="container">
  <h1>COCKTAILS LIST</h1>
  <div class="card-grid">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category">
      <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
    </div>
    <% end %>
  </div>
  <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-warning" %>
</div>
