.index-header {
  display: block;
  text-align: center;
  h1 {
    font-size: 2rem;  
  }
}

@media (min-width: 768px) {
  .index-header {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 5rem;
    }
  }

}