.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0, 100, 100, 0.8);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-brand img {
    width: 200px;
    margin-left: -20px;
  }
  
  .navbar-nav 
    .nav-item {
      margin-top: auto;
      margin-bottom: auto;
        .nav-link {
          color: white;
          text-shadow: 1px 1px 4px black;
          font: $headers-font;
    }
  }
  
}



@media (min-width: 450px) {
  .nav-link {
    font-size: 2rem;
  }

  .navbar-lewagon .navbar-brand img {
    width: 280px;
  }
}