.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0, 100, 100, 0.8);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 280px;
}

.nav-link {
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px $light-green;
}

.nav-item .nav-link {
  font: $headers-font;
  padding-top: 2 * $spacer;
}
